# R 
.Rproj.user/
Rplots.pdf
**.Rd
.Renviron
docs

# Python
.venv/
__pycache__/

# Logs
logs/

# Saved torch models
saves/
saved-models/*
models/*
**.pt 
**.ckpt

# Saved scrapes
wfc_dump/

# Secrets
.env

